.container {
    max-width: 150rem;
    margin: 8rem auto;
    background-color: var(--color-Grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 40rem;
    border-radius:10px 10px 0 0;
}

.header {
    height: 10rem;
    background-color: #fff;
    border-bottom: var(--color-Grey-light-2);
    font-size: 1.4rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-radius:10px 10px 0 0;
    
}

.content{
    display:flex;
}

.sidebar {
    background-color: var(--color-Grey-dark-1);
    
    flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;
    flex: auto;
    padding:4.5rem;
    background-color: var(--color-Grey-light-2);
    border-bottom: var(--color-Grey-dark-1);
}

.detail {
    display:flex;
}

.description {
    padding:3rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    flex: 0 0 60%;
    margin-right:2.5rem;
    font-size: 1.9rem;
}

.user-reviews {
    flex:1;

}